version: '3.7'
services:
  maas:
    image: foexle/maas-server:latest
    ports:
     - "127.0.0.1:5240:5240"
    environment:
     - DB_HOST: postgres
  postgres:
    image: postgres:latest
    restart: always
    environment:
      - POSTGRES_PASSWORD: test
      - POSTGRES_USER: test
